@utility typo-1 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-semibold);
  font-size: 22px;
  /* mobile -> tablet */
  line-height: 125%;
  letter-spacing: 0;
}

@utility typo-2 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-light);
  font-size: 18px;
  /* mobile -> tablet */
  line-height: 145%;
  letter-spacing: 0;
}

@utility typo-3-semibold {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  /* mobile -> tablet */
  line-height: 125%;
  letter-spacing: 0;
}

@utility typo-3-regular {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  /* mobile -> tablet */
  line-height: 125%;
  letter-spacing: 0;
}
